@model asgn2.Models.Recipes

@{

}



    <h3>@Model.Name</h3>
    <img class="builtPic" src="@Url.Content(Model.imagePath)" /><br />
    @if (Model.RecipeCategory == 1) //Fish
    {
        <img class="detailPic" src="@Url.Content("/Pictures/fish.jpg")" />
    }
    else if (Model.RecipeCategory == 2) //Beef
    {
        <img class="detailPic" src="@Url.Content("/Pictures/steak.jpg")" />
    }
    else if (Model.RecipeCategory == 3) //Chicken
    {
        <img class="detailPic" src="@Url.Content("/Pictures/chiken.png")" />
    }
    <h5>@Model.Ingredients</h5>
    <p>@Model.Description</p>


<a asp-action="RecipeList">BACK TO LIST</a>
